# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# This Database is on a Supabase Server
DATABASE_URL="postgresql://postgres:GUmddUYp5219wS71@db.urtjaahawkknomidvurl.supabase.co:5432/postgres"

# If you are using an offline Database, 
# DATABASE_URL="file:./db.sqlite"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32

# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="O1yVQdtM4stgKci1AEYsh+V4UY1WPHCU9KtbeNYP3Ag="
NEXTAUTH_URL="http://localhost:3000"


# Next Auth Google Provider
GOOGLE_ID="4439629935-64be2dnon37a7sq4ttkiug01di1l5ug6.apps.googleusercontent.com"
GOOGLE_SECRET="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"

# Next Auth Github Provider
GITHUB_ID="5413f9eb2f0ef1afcb51"
GITHUB_SECRET="9b297f04eb701e28361763c1bc8deffea163db4b"
